@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: white;
  background: rgb(40, 40, 40);
}

::selection {
  color: white;
  background: rgb(40, 40, 40);
}

body {
  background: #080808;
  background: -webkit-linear-gradient(
    to right,
    #0f0f0f,
    #08090a
  );
  background: linear-gradient(
    to right,
    #030303,
    #181c1f
  );
}
